@font-face {
    font-family: 'DaddyTimeMono Nerd Font Mono';
    src: url('DaddyTimeMonoNFM.woff2') format('woff2'),
        url('DaddyTimeMonoNFM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaddyTimeMono Nerd Font Propo';
    src: url('DaddyTimeMonoNFP.woff2') format('woff2'),
        url('DaddyTimeMonoNFP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DaddyTimeMono Nerd Font';
    src: url('DaddyTimeMonoNF.woff2') format('woff2'),
        url('DaddyTimeMonoNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

