{% assign images = include.image | split: ", " %}
{% assign widths = include.width | split: ", " %}
{% assign length = widths | size %}
<figure>
  {% for image in images %}
  {% if length == 1 %}
  {% assign currentWidth = include.width %}
  {% else %}
  {% assign currentWidth = widths[forloop.index0] %}
  {% endif %}
  {% if currentWidth != blank %}
  {% assign imagePath = page.permalink | append: image | prepend: "/assets/images" %}
  <img src="{{ imagePath | relative_url }}" width="{{ currentWidth }}" />
  {% else %}
  <img src="{{ imagePath | relative_url }}" width="600px" />
  {% endif %}
  {% endfor %}
  {% if include.caption %}
  {% assign figCounter = figCounter | plus:1 %}
  <figcaption>{% if page.category == "article" %} FIG {{ figCounter }}. {% endif %} {{ include.caption | markdownify | remove: '<p>' | remove: '</p>' }}</figcaption>
  {% endif %}
</figure>
