<header>
<div class="topbar">
<div class="site-icon">
	<img src="/assets/images/topbar/site-icon.svg"/>
</div>
<div class="topbar-right">
<nav>
	<span class="topbar-icon home-icon"><a href="/">SITE NAME</a></span>
	<span class="topbar-icon"><a href="/">POSTS</a></span>
	<span class="topbar-icon"><a href="/">VOLUMES</a></span>
	<span class="topbar-icon"><a href="/">SUBMIT</a></span>
	<span class="topbar-icon"><a href="/about">ABOUT</a></span>
</nav>
<span class="site-desc">A very very brief description in few words</span>
</div>
</div>
</header> 
