<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }}{% else %}{{ post.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt }}{% endif %}{% if post.excerpt %}{{ post.excerpt }}{% endif %}">

	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% endif %}{% if post.title %}{{ post.title }}{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:url" content={{ site.url }}{{ page.url }}>
	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt }}{% endif %}{% if post.excerpt %}{{ post.excerpt }}{% endif %}">
	<meta property="og:image" content="{% if page.header_image %}{{ page.header_image }}{% endif %}{% if post.header_image %}{{ post.header_image }}{% endif %}">

	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

	{% include css_imports.html %}
</head>
