{% assign post = site.categories["news"][0] %}
<h3>News & Updates</h3>
<span id="latest-news-title">{{ post.title }}</span><br><br>
<span class="nf nf-fa-calendar_check"></span>&nbsp;&nbsp;{{ post.date | date:"%b %d, %Y" }} &nbsp;&nbsp;<span class="nf nf-md-chevron_double_right"></span>&nbsp;&nbsp;<a href="{{ post.url }}">Read more</a><br><br>
<span id="latest-news-excerpt">
	...{{ post.content | truncate: 400 }}
</span>


<div><span class="nf nf-md-bomb"></span>&nbsp;&nbsp;<a href="/news">View Other News</a></div>
