{% assign article = site.categories["articles"][0] %}
<div id="latest-article" markdown=1>
<a href="{{ article.url }}"><img src="/assets/hero-images/{{article.hero-image}}"/></a>
<div id="latest-article-desc">
	<h3>Latest Article</h3>
	<span id="latest-article-title">{{ article.title }}</span>
	<span>󰙈 {{ article.author }} |  {{ article.date | date:"%b %d, %Y" }} | <a href="{{ article.url }}">View article</a></span>
	<span class="article-item-tags">{% for tag in article.tags %}<a href="/tags/#{{ tag }}" class="button">{{ tag }}</a>{% endfor %}</span>
</div>
</div>
