{% assign year = 'now' | date: "%Y" %}
{% assign latestIssue = site.data.magazines[year][0] %}
<div id="latest-issue">
<a href="{{latestIssue["permalink"]}}"><img src="/assets/magazine-thumbnails/{{ latestIssue["thumbnail"] }}"/></a>
<div id="latest-issue-desc">
<h2>Latest Release</h2>
	<strong>{{ latestIssue["month"] }}, {{ year }}</strong>
	<ul>
	{% for line in latestIssue["preview"] %}
	<li>{{ line }}</li>
	{% endfor %}
	</ul>
	<span><a class="magazine-thumbnail-item" href="{{latestIssue["permalink"]}}">Browse Issue</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="magazine-thumbnail-item" target="_blank" href="{{latestIssue["download"]}}">Download PDF</a></span>
	<a href="/magazine/">Browse Older Issues</a>
</div>
</div>
