{% assign latestIssue = site.data.magazines | first %}
## Latest Issue ([View All](/issues))
<div id="latest-issue" markdown=1>
<img src="./assets/magazine-thumbnails/{{ latestIssue[1][0]["thumbnailFileName"] }}"/>
<div id="latest-issue-desc">
    <span>{{ latestIssue[1][0]["month"] | upcase }}, {{ latestIssue[0] }}<a id="latest-issue-link" href="./assets/magazines/{{latestIssue[1][0]["fileName"]}}">View/Download</a></span>
    <div id="latest-issue-focus">
    ISSUE FOCUS:<br>
    <strong>{{ latestIssue[1][0]["focus"] }}</strong>
    </div>
    
</div>
</div>
