@font-face {
    font-family: 'Agave Nerd Font Mono';
    src: url('AgaveNFM-Regular.woff2') format('woff2'),
        url('AgaveNFM-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agave Nerd Font Mono';
    src: url('AgaveNFM-Bold.woff2') format('woff2'),
        url('AgaveNFM-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agave Nerd Font';
    src: url('AgaveNF-Bold.woff2') format('woff2'),
        url('AgaveNF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agave Nerd Font Propo';
    src: url('AgaveNFP-Bold.woff2') format('woff2'),
        url('AgaveNFP-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agave Nerd Font';
    src: url('AgaveNF-Regular.woff2') format('woff2'),
        url('AgaveNF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Agave Nerd Font Propo';
    src: url('AgaveNFP-Regular.woff2') format('woff2'),
        url('AgaveNFP-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

