.excerpt {
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.1em;
    color: $fg-color;
    margin-top: 1em;
    padding-left: 1em;
    border-left: 0.5em solid $focus-color;
    > p {
      text-align: left;
    }
}

.author-date {
    text-align: left;
    color: $fg-color;
}
.article-item {
  text-align: left;
  width: 48%;
  display: flex;
  flex-direction: column;
  > a > img {
      width: 100%;
  }
  gap: 0.5em;
}

.article-item-title {
	color: $focus-color;
    line-height: 1em;
    font-weight: bold;
}

.article-item-tags {
    display: inline-flex;
    justify-content: flex-start;
    gap: 1em;
}

.recent-articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}



@media only screen and (max-width: $breakpoint-small)  {
  .article-item {
      width: 100%;
      flex-direction: column;
      align-items: left;
      > a {
        width: 100%;
        > img {
        width: 100%;
      }
    }
  }
}

.author-bio {
  > p {
    margin: 0em;
    color: $fg-color;
    font-size: 0.9em;
    line-height: 1.1em;
    text-align: justify;
    max-width: 400px;
  }
  > img {
    max-width: 300px;
  }
  background-color: rgba($focus-color, 0.1);
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
}

.jump-ref {
  text-decoration: none;
}

.references {
  font-size: 0.9em;
}
