.excerpt {
    padding-top: 1em;
	text-align: justify;
	font-size: 0.8em;
    // font-weight: 600;
    font-style: italic;
}

.author-date {
    color: $focus-color;
    font-weight: bold;
}
.article-item {
  text-align: left;
  width: 48%;
  display: flex;
  flex-direction: column;
  > a > img {
      width: 100%;
  }
  gap: 0.5em;
}

.article-item-title {
	color: $focus-color;
    line-height: 1em;
    font-weight: bold;
}

.article-item-tags {
    display: inline-flex;
    justify-content: flex-start;
    gap: 1em;
}

.recent-articles {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}



@media only screen and (max-width: $breakpoint-small)  {
  .article-item {
      width: 100%;
      flex-direction: column;
      align-items: left;
      > a {
        width: 100%;
        > img {
        width: 100%;
      }
    }
  }
}

.article-image {
  background-color: #F0F0F0;
  padding: 1em;
  width: 100%;
  display: block;
  margin: auto;
}

.article-image > img {
  display: block;
  margin: auto;
  padding-bottom: 1em;
}
.article-image > span {
  text-align: center;
  margin: auto;
  display: block;
  color: $bg-color;
  > strong {
    color: $bg-color;
  }
}

.author-bio {
  > p {
    margin: 0em;
  }
  color: $focus-color;
  // font-weight: 600;
  background-color: rgba($fg-color, 0.1);
  padding: 1em;
  font-size: 0.9em;
  text-align: justify;
}

.jump-ref {
  text-decoration: none;
}
