#carousel {
  height: 40%;
  max-height: 40%;
  overflow: hidden;
}

#carousel-news {
	display: none;
}

#carousel-article {
	display: none;
}

#carousel-nav {
	display: flex;
	justify-content: center;
	gap: 2em;
    padding-top: 0em;
	> span {
        transform: scale(1.5);
        cursor: pointer;
	}
}

#carousel-nav-1{
  padding-bottom: 3px;
  border-bottom: 3px solid $fg-color;
}

@media only screen and (max-width: 600px)  {
  #carousel {
    height: auto;
  }
}
