#carousel {
    > :not(.active-item) {
      display: none;
    }
}

#carousel-nav {
	display: flex;
	justify-content: center;
	gap: 2em;
    padding-top: 0em;
	> span {
        transform: scale(1.5);
        cursor: pointer;
	}
    > .active-nav {
        padding-bottom: 3px;
        border-bottom: 3px solid $fg-color;
    }
}

@media only screen and (max-width: $breakpoint-small)  {
  #carousel {
    height: auto;
  }
}
