$bg-color: #292929;
$fg-color: #EEEEEE;
$h1-color: #FFF4B7;
$hn-color: #DCA06D;
$link-color: #DD4053;     // soft azure
$emph-color: #6EACDA;

$font-size: 17px;
$h1-size: 2.5em;
$h2-size: 2em;
$h3-size: 1.4em;
$font-size-small: 14px;
$line-ht: 1.6;
$weight: 400;
$bold-weight: 600;

$font: "Lato" !default;
$monospace-font: "Roboto Condensed" !default;
$heading-font: "Hero New" !default;
$symbols-font: "Symbols Nerd Font" !default;
$emoji-font: "Noto Color Emoji";
$nf-font: "Lilex Nerd Font";

$width: 900px !default;
$footer-gap: 1rem !default;
$footer-height: 50px !default;
$header-height: 15px !default;
$crossword-height: 700px !default;
$logo-size: 100px;

$breakpoint-tiny: 450px;
$breakpoint-small: 550px;
$breakpoint-medium: 1000px;
