footer {
	background-color: $topbar-color;
	position: fixed;
	bottom: 0;
	color: $bg-color;
	width: 100%;
	padding-top: $footer-pad;
	padding-bottom: $footer-pad;
	text-align: center;
	font-weight: bold;
	font-size: 0.9em;
}
