footer {
	width: 100%;
	background-color: $footer-color;
    color: $bg-color;
    font-size: 0.9em;
    height: $footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    > a {
      color: $bg-color;
    }
    margin-top: auto;
}
