@use 'constants';
footer {
	width: 100%;
    margin-top: constants.$footer-gap;
    height: constants.$footer-height;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: constants.$fg-color;
    font-weight: bold;
}
