h1,h2,h3,h4 {
	line-height: $h1-line-height;
	font-family: $heading-font-family;
	color: $heading-color;
    margin-bottom: 0.5em;
}

h1 {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}


@media only screen and (max-width: $breakpoint-small)  {
  h1 {
      font-size: $h1-mobile-font-size;
  }
  h2 {
      font-size: $h2-mobile-font-size;
  }
  h3 {
      font-size: $h3-mobile-font-size;
  }
}
