h1,h2,h3,h4 {
	font-family: $heading-font-family;
	color: $heading-color;
}
h1 {
	font-size: $h1-font-size;
}
h2 {
	font-size: $h2-font-size;
	border-bottom: 2px solid $topbar-color;
	padding-bottom: 0.4em;
}

h3 {
	font-size: $h3-font-size;
}
