header {
	background-color: $header-bg;
	height: $header-height;
	padding-top: $topbar-pad;
	padding-bottom: $topbar-pad;
    width: 100vw;
}

nav {
	max-width: $body-width;
	height: 100%;
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav > a, #site-title {
  padding-top: 0.6em;
}

nav * {
	color: $header-fg;
	text-decoration: none;
	font-weight: 600;
}

nav *:hover {
	text-decoration: none;
}

#main-nav-bar {
	display: inline-flex;
	justify-content: space-between;
	flex-grow: 1;
}

#main-nav-bar > a:hover {
	transform: scale(1.2);
}

#site-icon-title {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

#site-icon-mobile {
  display: none;
  height: 100%;
  > img {
      height: 100%;
  }
}

#site-icon {
	height: 100%;
	> img {
		height: 100%;
	}
}
#site-icon > img:hover {
	transform: scale(1.1);
}


@media only screen and (max-width: $breakpoint-medium)  {
    #site-title {
      display: none;
    }
    header {
      height: $header-height-mobile;
    }
    nav {
      justify-content: space-around;
      > * {
        font-size: 0.8em;
      }
    }
}
