h1,h2,h3,h4 {
	font-family: $heading-font-family;
	color: $heading-color;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
h2 {
	font-size: $h2-font-size;
	border-bottom: 2px solid $header-color;
	padding-bottom: 0.4em;
}

h3 {
	font-size: $h3-font-size;
    padding-bottom: 0.2em;
	border-bottom: 2px solid $header-color;
}

h1 {
	font-size: $h1-font-size;
	line-height: $h1-line-height;
	text-align: center;
}
