header {
	background-color: $header-color;
	height: $header-height;
	padding: $topbar-pad $main-margin $topbar-pad $main-margin;
}

nav {
	margin: auto;
	max-width: $body-width;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1em;
}

nav * {
	color: $fg-color;
	font-weight: bold;
}

nav *:hover {
	text-decoration: none;
}

#main-nav-bar {
	display: inline-flex;
	justify-content: space-between;
	flex-grow: 1;
}

#main-nav-bar > a:hover {
	transform: scale(1.2);
}

#site-icon {
	height: 100%;
	> img {
		height: 100%;
	}
}
#site-icon > img:hover {
	transform: scale(1.1);
}


@media only screen and (max-width: 600px)  {
    #site-title {
      display: none;
    }
    header {
      padding: 0;
      gap: 0;
      padding-right: 1em;
    }
    #site-icon {
      transform: scale(0.7);
    }
    #main-nav-bar {
      gap: 1em;
    }
}
