.home-banner {
	width: 100vw;
	position: absolute;
	left: 0;
	height: $homepage-banner-height;
	background-image: url("/assets/images/home-page/background-waves.svg");
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	> h1,h3 {
		color: $fg-color;
		padding-left: 0.4em;
		padding-right: 0.4em;
	}
}
