.home-banner {
	width: 100vw;
	position: absolute;
	left: 0;
	height: $homepage-banner-height;
	background-image: url("/assets/images/home-page/background-waves.svg");
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	> h1,h3 {
		color: $fg-color;
		padding-left: 0.4em;
		padding-right: 0.4em;
	}
}

.banner-dummy {
	height: $homepage-banner-height;
}

// @media only screen and (max-width: 600px)  {
// 	.home-banner, .banner-dummy {
//  		height: calc(0.6 * #{$homepage-banner-height});
//  		font-size: 0.75em;
//  	}
//  }


#carousel-news {
	display: none;
}

#carousel-article {
	display: none;
}

#carousel-nav {
	display: flex;
	justify-content: center;
	gap: 2em;
	> span {
		height: $carousel-button-size;
		width: $carousel-button-size;
		border-radius: 50%;
	}
}

@media only screen and (max-width: 600px)  {
    #carousel-nav {
      padding-top: 1em;
    }
}

.solid-circle {
	background-color: $fg-color;
	border: 3px solid $fg-color;
}
.empty-circle {
	border: 3px solid $fg-color;
}

.empty-circle:hover{
	cursor: pointer;
}

.news-excerpt {
	display: block;
	font-style: italic;
	font-size: 0.9em;
	opacity: 70%;
	margin-left: 2em;
	margin-right: 2em;
	text-align: justify;
}
