.home-title-subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	position: relative;
	left: 10%;
	height: $homepage-banner-height;
	max-width: 40%;
	> h1,h3 {
		text-align: left;
		color: $bg-color;
	}
}

.home-banner {
	width: 100vw;
	position: absolute;
	left: 0;
	height: $homepage-banner-height;
	background-image: url("/assets/images/home-page/banner.svg");
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover;
}

.banner-dummy {
	height: $homepage-banner-height;
}

#carousel {
	height: $carousel-height;
}

#carousel-news {
	display: none;
}

#carousel-article {
	display: none;
}

#carousel-nav {
	display: flex;
	justify-content: center;
	gap: 2em;
	> span {
		height: $carousel-button-size;
		width: $carousel-button-size;
		border-radius: 50%;
	}
}

.solid-circle {
	background-color: $fg-color;
	border: 3px solid $fg-color;
}
.empty-circle {
	border: 3px solid $fg-color;
}

.empty-circle:hover{
	cursor: pointer;
}

.news-excerpt {
	display: block;
	font-style: italic;
	font-size: 0.9em;
	opacity: 70%;
	margin-left: 2em;
	margin-right: 2em;
	text-align: justify;
}
