@use 'constants';
img {
  max-width: constants.$width;
  text-align: center;
}

figure {
  text-align: center;
  > figcaption {
    font-size: 0.9rem;
    padding-top: 0.2rem;
    color: constants.$emph-color;
    font-style: italic;
  }
}

@media (max-width: constants.$breakpoint-small) {
  img {
    max-width: 100%;
  }
}
