#latest-news-title {
  color: $focus-color;
  font-weight: bold;
}

#latest-news-excerpt {
	font-style: italic;
	text-align: justify;
	display: block;
	font-size: 0.9em;
    color: rgba($fg-color, 0.6);
    padding-left: 2em;
    border-left: 0.4em solid $focus-color;
}
