a {
	color: $link-color;
	// text-decoration: none;
	// font-weight: normal;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}
a:hover {
	// text-decoration: underline;
	font-weight: bold;
    // text-underline-offset: 4px;
    // text-decoration-thickness: 3px;
    // transform: scale(1.1);
}

.button {
    font-family: $monospace-font;
	font-size: 1em;
	font-weight: bold;
	background-color: $heading-color;
	border-radius: 6px;
    padding: 0.3em;
    padding-top: 0.1em;
	// padding: 0.1em 0.6em 0.1em 0.6em;
	color: white;
}
.button:hover {
	text-decoration: none;
	transform: scale(1.1);
}
