@use 'constants';
a {
  color: constants.$link-color;
  text-decoration: none;
  font-weight: constants.$bold-weight;
}
a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.nf {
  font-family: constants.$nf-font;
}
a.nf:hover,
a.nf:focus {
  text-decoration: none;
}
