@use 'constants';

#seed-word {
  font-weight: bold;
  color: constants.$hn-color;
}

.hint-block {
  margin-bottom: 20px;
}
.hint-text {
  font-size: 16px;
  margin-bottom: 8px;
}
.llInputs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.llInputs input {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: 0;
  color: constants.$bg-color;
  font-weight: bold;
  background: constants.$emph-color;
}
.llInputs input.locked {
  background: constants.$link-color;
}
#result {
  margin-top: 20px;
  font-weight: bold;
  color: darkgreen;
}
