a {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
    text-decoration-thickness: 3px;
}

.button {
	font-size: 1em;
	font-weight: bold;
	background-color: $header-color;
	border-radius: 6px;
	padding: 0.1em 0.6em 0.1em 0.6em;
	color: $bg-color;
}
.button:hover {
	text-decoration: none;
	transform: scale(1.1);
}
