.magazine-thumbnails {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
    > div {
      max-width: 400px;
    }
}

.article-title-release {
  color: $focus-color;
  display: none;
}

.release-articles {
  display: flex;
}
