.magazine-thumbnails {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
    > div {
      max-width: 400px;
    }
}

.article-title-release {
  color: $focus-color;
  display: none;
}

.release-articles {
  display: flex;
}

.magazine-buttons {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 0.5em;
  row-gap: 0.5em;
}

.article-thumbnail {
  height: 300px;
  object-fit: cover;
}
