.magazine-thumbnails {
	display: flex;
	flex-wrap: wrap;
	> p > a > img {
		width: $magazine-thumbnail-maxwidth;
	}
	gap: 1em;
	> p > a:hover {
		border-bottom-width: 0;
		padding-bottom: 0;
		transform: scale(1.1);
	}
}

.magazine-thumbnail-item {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
}


