.member-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  > img {
    width: 200px;
  }
}

.members-desc {
  text-align: justify;
  max-width: 200px;
}

.member-name > strong {
  color: $focus-color;
  font-size: 1.1em;
  padding-right: 1em;
}

.team-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 1.5em;
}

@media only screen and (max-width: $breakpoint-small)  {
.members-desc {
  max-width: 100%;
}
.member-info {
  align-items: start;
}
}
