.member-info {
  display: flex;
  gap: 1em;
  > img {
    width: 250px;
  }
}
.member-links {
  padding-right: 1em;
  color: $focus-color;
}

.member-name {
  color: $focus-color;
  font-size: 1.1em;
}


@media only screen and (max-width: $breakpoint-small)  {
.member-info {
  flex-direction: column;
  gap: 0.5em;
  > img {
    width: 100%;
  }
  padding-bottom: 1em;
}
}
