@use 'constants';
header {
    margin: auto;
    padding-top: constants.$footer-gap;
    padding-bottom: calc(2 * constants.$footer-gap);
    width: 100vw;
    display: flex;
	max-width: constants.$width;
    justify-content: space-between;
    gap: 2rem;
    align-items: start;
}

nav {
	max-width: constants.$width;
	height: constants.$header-height;
	display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 0;
    width: 100%;
    > a {
      color: constants.$hn-color;
    }
    > a:hover {
      text-decoration: none;
      transform: scale(1.2);
    }
}
#home-button img {
  height: constants.$logo-size;
  // height: 100%;
}

@media (max-width: constants.$breakpoint-medium) {
  header {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  nav {
    width: calc(100% - 2rem);
    padding-top: constants.$footer-gap;
    padding-bottom: constants.$footer-gap;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.nav-partial {
    display: none;
}

@media (max-width: constants.$breakpoint-small) {
  .nav-full {
    display: none;
  }
  .nav-partial {
    display: flex
  }
}
