.excerpt {
	font-style: italic;
	text-align: left;
	display: block;
	font-size: 0.9em;
	color: white;
}

.author-date-excerpt {
	display: flex;
	justify-content: space-between;
	> span {
	max-width: 50%;
	> .author {
		color: $focus-color;
		font-weight: bold;
	}
	}
	> .author-date {
		text-align: right;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
	}
}

.article-item > p {
	font-size: 0.9em;
	text-align: left;
	> a {
		min-width: 40%;
		max-width: 40%;
	}
	> a > img.article-thumbnail {
		width: 100%;
	}
	display: flex;
	flex-wrap: nowrap;
	gap: 2em;
}
.article-item-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.article-item-title {
	color: $focus-color;
}
.article-item-excerpt {
	line-height: 1.3em;
	font-size: 0.9em;
	font-style: italic;
}

.article-item-tags {
	display: inline-flex;
	justify-content: flex-start;
	gap: 1em;
	flex-wrap: wrap;
}

.latest-article {
	text-align: left;
	> a {
		width: 100%;
	}
	> a > img.article-thumbnail {
		width: 100%;
	}
	display: flex;
	flex-wrap: nowrap;
	gap: 2em;
}

.latest-article-title {
	color: $focus-color;
	font-weight: bold;
	display: block;
	padding-bottom: 0.4em;
}
