@use 'constants';

.hero-image {
  height: 500px;
  width: 100vw;
  object-fit: cover;
}

@media (max-width: constants.$breakpoint-medium) {
  .hero-image {
    width: 100%;
    height: 100%;
  }
}

.excerpt {
  color: constants.$fg-color;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: justify;
  margin-right: 40%;
}
.author {
  font-size: 1.3rem;
  color: constants.$emph-color;
  font-weight: bold;
}

.author-bio {
  > p {
    margin: 0em;
    color: constants.$fg-color;
    font-size: 0.9em;
    line-height: 1.1em;
    text-align: justify;
    max-width: 400px;
  }
  > img {
    max-width: 300px;
  }
  background-color: rgba(constants.$hn-color, 0.1);
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
}
