* {
    box-sizing: border-box;
}

html {
	line-height: $line-height;
	color: $fg-color;
	background-color: $bg-color;
	font-family: $main-font-family;
	font-size: $main-font-size;
	font-weight: 400;
	font-family: $main-font-family;
}

body {
	display: flex;
	flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: $main-margin;
    overflow-x: hidden;
    margin: 0;
}

main {
    max-width: $body-width;
    width: 100%;
}

@media only screen and (max-width: $breakpoint-medium)  {
   main {
     padding-left: $main-margin;
     padding-right: $main-margin;
   }
}

@media only screen and (max-width: $breakpoint-small)  {
   html {
     font-size: $mobile-font-size;
   }
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

strong {
    color: $focus-color;
}
