header {
	background-color: $topbar-color;
	height: $header-height;
	padding: $topbar-pad $main-margin $topbar-pad $main-margin;
}

nav {
	margin: auto;
	max-width: $body-width;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav * {
	color: $bg-color;
	font-weight: bold;
	font-size: 0.9em;
}

#site-title {
	font-size: 1.4em;
	margin: auto;
}

#site-icon {
	height: 100%;
	> img {
		height: 100%;
	}
}

#site-desc {
	font-weight: normal;
	font-size: 0.7em;
}

#site-title-desc {
	display: flex;
	flex-direction: column;
	align-items: center;
}
