$main-font-size: 1.15em !default;
$mobile-font-size: 1.0em !default;
$line-height: 1.4em !default;
$h1-line-height: 1em !default;
$main-margin: 1em !default;
$body-width: 900px !default;
$topbar-pad: 0.2em !default;
$footer-pad: 0.5em !default;
$footer-height: 50px !default;
$header-height: 70px !default;
$header-height-mobile: 50px !default;
$image-maxwidth: 700px !default;
$magazine-thumbnail-maxwidth: 230px !default;
$homepage-banner-height: 400px !default;
$carousel-height: 450px;
$carousel-button-size: 20px;

$h1-font-size: calc(2 * #{$main-font-size}) !default;
$h2-font-size: calc(1.6 * #{$main-font-size}) !default;
$h3-font-size: calc(1.2 * #{$main-font-size}) !default;

$h1-mobile-font-size: calc(1.9 * #{$mobile-font-size}) !default;
$h2-mobile-font-size: calc(1.6 * #{$mobile-font-size}) !default;
$h3-mobile-font-size: calc(1.2 * #{$mobile-font-size}) !default;

/* system typefaces */
$main-font-family: "Lato" !default;
$monospace-font: "Roboto Condensed" !default;
$heading-font-family: "Hero New" !default;
$symbols-font-family: "Symbols Nerd Font"  !default;

$fg-color: #333;
$bg-color: #fbfbff;
$focus-color: #53596e;
$heading-color: #4e415f;
$link-color: #633d34;
$bold-color: $focus-color;
$header-bg: $fg-color;
$footer-bg: $header-bg;
$header-fg: $bg-color;
$footer-fg: $header-fg;

$breakpoint-medium: $body-width;
$breakpoint-small: 600px;

// accent colours
$facebook-color: #1877F2;
$web-color: #F4B400;
$gmail-color: #c71610;
$instagram-color: #ee2a7b;
$github-color: #333;
$linkedin-color: #0e76a8;
$twitter-color: #1DA1F2;

// crossword embed height
$crossword-height: 700px;
