$main-font-size: 1.4em !default;
$line-height: 1.2 !default;
$mainMargin: 2em !default;

/* system typefaces */
$main-font-family: "Roboto Condensed", "DaddyTimeMono Nerd Font Mono" !default;
$monospace-font: "Roboto Condensed" !default;
$header-font-family: "BenchNine", -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif !default;

// breeze-dark colour palette
$bg-color: #31363b;
$fg-color: #eff0f1;
