$main-font-size: 1.5em !default;
$mobile-font-size: 1.2em !default;
$line-height: 1.4em !default;
$h1-line-height: 0.9em !default;
$main-margin: 2em !default;
$body-width: 1000px !default;
$topbar-pad: 0.2em !default;
$footer-pad: 0.5em !default;
$header-height: 70px !default;
$image-maxwidth: 700px !default;
$magazine-thumbnail-maxwidth: 230px !default;
$homepage-banner-height: 400px !default;
$carousel-height: 450px;
$carousel-button-size: 20px;

$h1-font-size: calc(2 * #{$main-font-size}) !default;
$h2-font-size: calc(1.6 * #{$main-font-size}) !default;
$h3-font-size: calc(1.2 * #{$main-font-size}) !default;

/* system typefaces */
$main-font-family: "Roboto Condensed", "DaddyTimeMono Nerd Font Mono" !default;
$monospace-font: "Roboto Condensed" !default;
$heading-font-family: "BenchNine" !default;

// one-dark colour palette
$bg-color: #eeeeee;
$fg-color: #222831;
$link-color: #0092ca;
$heading-color: #393e46;
$icon-color: #e5c07b;
$header-color: $fg-color;
$footer-color: $header-color;
$focus-color: #34495e;
