html {
  background-color: #FAFAF9;
  color: #1F2937;
  font-family: "Lato", "Symbols Nerd Font", "Noto Color Emoji" !important;
  font-size: 17px;
  font-weight: 400;
  text-align: justify;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

html::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

body {
  width: 100%;
  margin: 0;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px + 1rem);
}

main {
  flex-grow: 1;
  max-width: 900px;
  margin: auto;
  width: 900px;
}

@media (max-width: 1000px) {
  body {
    max-width: calc(100% - 2rem);
    margin: auto;
    margin-top: 0rem;
  }
  main {
    max-width: 100%;
  }
}
.highlighter-rouge {
  background-color: rgba(31, 41, 55, 0.05);
  padding: 1rem;
  margin-bottom: 1rem;
}

.highlight {
  margin: 0;
}

img {
  max-width: 900px;
  text-align: center;
}

figure {
  text-align: center;
}
figure > figcaption {
  font-size: 0.9rem;
  padding-top: 0.2rem;
  color: #6B7280;
  font-style: italic;
}

@media (max-width: 600px) {
  img {
    max-width: 100%;
  }
}
h1 {
  color: #3B82F6;
  font-size: 2.5em;
  text-align: left;
  line-height: 95%;
}

h2, h3, h4, h5, h6 {
  color: #3B3A30;
  text-align: left;
  line-height: 95%;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.4rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.4em;
}

h2 + p {
  margin-top: 0;
}

a {
  color: #D87C5A;
  text-decoration: none;
  font-weight: 600;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

.nf {
  font-family: "Lilex Nerd Font";
}

a.nf:hover,
a.nf:focus {
  text-decoration: none;
}

header {
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 900px;
}

nav {
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-top: 0;
  width: 100%;
}
nav > a {
  color: #3B3A30;
}
nav > a:hover {
  text-decoration: none;
  transform: scale(1.2);
}

#home-button img {
  height: 25px;
  padding-top: 3pt;
}

@media (max-width: 1000px) {
  header {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  nav {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(250, 250, 247, 0.7);
  backdrop-filter: blur(7px);
}

#sidebar-active {
  display: none;
}

.sidebar-overlay {
  display: none;
}

.open-sidebar-button, .close-sidebar-button {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.open-sidebar-button > svg, .close-sidebar-button > svg {
  fill: #3B3A30;
  width: 2rem;
  height: 2rem;
}

@media (max-width: 600px) {
  .open-sidebar-button, .close-sidebar-button {
    display: block;
  }
  .horiz {
    display: none;
  }
}
.open-sidebar-button {
  transition: all 0.5s ease-out;
}

.close-sidebar-button {
  padding-right: 1rem;
  padding-top: 0.5rem;
  align-self: flex-end;
}

.sidebar {
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 10;
  max-width: 300px;
  width: 75%;
  height: 100vh;
  height: 100dvh;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  transition: right 0.5s ease-out;
}
.sidebar > a {
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 0;
}

#sidebar-active:checked ~ .sidebar {
  right: 0;
}

#sidebar-active:checked ~ .sidebar-overlay {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 9;
  background-color: transparent;
}

#sidebar-active:checked ~ .open-sidebar-button {
  opacity: 0;
}

footer {
  width: 100%;
  margin-top: 1rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  color: #1F2937;
  font-weight: bold;
}
footer > span > .nf {
  color: #3B82F6;
}

.nf {
  padding: 0.1rem;
  font-weight: bold;
}

a.nf {
  color: #6B7280;
}

.nf + .nf {
  padding-left: 0.5rem;
}

.members {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  row-gap: 2rem;
  justify-content: space-around;
}

.member-details {
  width: 250px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.member-details > img {
  width: 200px;
}

@media (max-width: 450px) {
  .members {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }
  .member-details {
    width: 100%;
    text-align: left;
  }
  .member-details > img {
    width: 200px;
  }
}
.magazine-item {
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
}
.magazine-item > .magazine-summary-title {
  margin-bottom: 0.2rem;
}

.magazine-item + .magazine-item {
  margin-top: 1.2rem;
}

.magazine-banner {
  margin-top: -1rem;
  margin-bottom: 2rem;
}
.magazine-banner > div {
  font-size: 1.3em;
  font-weight: bold;
}
.magazine-banner > img {
  margin-bottom: 0.5rem;
}

.release-buttons {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
.release-buttons > strong {
  color: #6B7280;
}

.magazine-summary-title {
  color: #6B7280;
  padding-right: 1rem;
}

.magazine-summary-author {
  color: #1F2937;
  font-weight: bold;
}

.digest-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 0.2rem solid #1F2937;
  margin-top: 1rem;
  padding-top: 1rem;
}
.digest-item > .reference {
  font-style: italic;
  text-align: right;
  color: #3B82F6;
}
.digest-item > .author {
  color: #6B7280;
  font-weight: bold;
  text-align: right;
}
.digest-item > .keywords, .digest-item .affiliation {
  text-align: right;
}

.hero-image {
  height: 500px;
  width: 100vw;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .hero-image {
    width: 100%;
    height: 100%;
  }
}
.excerpt {
  color: #1F2937;
  font-style: italic;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: justify;
  margin-right: 40%;
}

.author {
  font-size: 1.3rem;
  color: #6B7280;
  font-weight: bold;
}

.author-bio {
  background-color: rgba(59, 58, 48, 0.1);
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  align-items: center;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
}
.author-bio > p {
  margin: 0em;
  color: #1F2937;
  font-size: 0.9em;
  line-height: 1.1em;
  text-align: justify;
  max-width: 400px;
}
.author-bio > img {
  max-width: 300px;
}

#hero-caption {
  color: #FAFAF9;
  background-color: rgba(31, 41, 55, 0.4);
  position: relative;
  left: 50%;
  bottom: 3em;
}

table {
  border-collapse: collapse;
}
table > caption {
  font-size: 0.9rem;
  padding-top: 0.2rem;
  color: #3B82F6;
  font-style: italic;
  caption-side: bottom;
  text-align: justify;
}

.table {
  display: grid;
  justify-content: center;
}

th, td {
  border: 3px solid gray;
  padding: 4px;
  vertical-align: bottom;
  margin: 0;
}

.recent-articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  row-gap: 2rem;
  justify-content: space-between;
}
.recent-articles > .article-item {
  width: calc(50% - 2rem);
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.recent-articles > .article-item > a > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.recent-articles > .article-item > .article-author {
  font-style: italic;
}

.article-button, .year-list {
  display: flex;
  gap: 2rem;
}

input[type=radio] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  border: 3px solid #3B3A30;
  background: #3B3A30;
  width: 16px;
  height: 16px;
}

input[type=radio]:checked {
  background: #FAFAF9;
}

.quizIndicatorCorrect {
  color: #6B7280;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.quizIndicatorWrong {
  color: #D87C5A;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.reveal, .reveal a {
  margin-top: 1rem;
  background-color: #1F2937;
  color: #FAFAF9;
  border: 0px;
  font-weight: bold;
  padding: 0.3rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  font-size: 0.9rem;
  border-radius: 7%;
  cursor: pointer;
}

.reveal:hover {
  text-decoration: none;
}

.quiz-image {
  max-width: 500px;
  width: 100%;
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 1rem;
}

iframe.crossword-iframe {
  height: 700px;
  width: 100%;
}

#crossword-container {
  width: 100%;
}

#crossword {
  display: grid;
  border-collapse: collapse;
  border: 3px solid #1F2937;
  padding: 1rem;
  aspect-ratio: 1;
}

#crossword > span {
  max-width: 30px;
  max-height: 30px;
  border: none;
  position: relative;
  padding: 0;
  background: rgba(31, 41, 55, 0.05);
  border: 1px solid #FAFAF9;
}

#crossword > span.blank {
  border: none;
}

#crossword > span > input {
  border: none;
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  outline: none;
  text-transform: uppercase;
  background: #D87C5A;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

.hint-number {
  font-size: 0.7rem;
  position: absolute;
  top: 0;
  left: 1px;
  color: #1F2937;
  font-weight: bold;
}

#crossword-wrapper {
  display: flex;
  gap: 40px;
  flex-direction: row;
  align-items: top;
}

.clues {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  #crossword-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .clues {
    max-width: 100%;
    gap: 2rem;
    flex-direction: row;
  }
}
@media (max-width: 600px) {
  .clues {
    flex-direction: column;
  }
}
.highlight-main {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 2rem;
}
.highlight-main > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.highlight-desc {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.1rem;
  text-align: left;
}
.highlight-desc > h1, .highlight-desc p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.highlight-small {
  display: flex;
  flex-direction: row;
  row-gap: 0.5rem; /* spacing between items */
  gap: 2rem;
}
.highlight-small > div {
  width: 100%;
}
.highlight-small > div > a {
  width: 100%;
}
.highlight-small > div > a > img {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
.highlight-small > a:hover {
  text-decoration: none;
}

@media (max-width: 600px) {
  .highlight-main, .highlight-small {
    flex-direction: column;
    gap: 0rem;
  }
  .highlight-small > div > a > img {
    object-fit: contain;
  }
}
.home-button {
  display: flex;
  gap: 2rem;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
}

#intro {
  margin-bottom: 2rem;
}
#intro > div {
  font-size: 1.4rem;
  color: #3B82F6;
  font-weight: bold;
}

.shuffle {
  background-color: rgba(31, 41, 55, 0.9);
  color: #FAFAF9;
  padding: 0.1rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  border-radius: 20px;
  font-size: 1.2rem;
}

.shuffle:hover {
  text-decoration: none !important;
  cursor: pointer;
}

.summary {
  font-size: 0.9rem;
}

.archive-author {
  color: #6B7280;
  font-style: italic;
}

#seed-word {
  font-weight: bold;
  color: #3B3A30;
}

.hint-block {
  margin-bottom: 20px;
}

.hint-text {
  font-size: 16px;
  margin-bottom: 8px;
}

.llInputs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.llInputs input {
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: 0;
  color: #FAFAF9;
  font-weight: bold;
  background: #6B7280;
}

.llInputs input.locked {
  background: #D87C5A;
}

#result {
  margin-top: 20px;
  font-weight: bold;
  color: darkgreen;
}

.interview-answer {
  padding: 0.6rem;
  background-color: rgba(107, 114, 128, 0.1);
  margin-left: 1rem;
}

.interview-answer + .interview-answer {
  margin-top: -1rem;
}

/*# sourceMappingURL=styles.css.map */