---
layout: posts
---

{{ content }}

{% if page.permalink == "/crossword-gen/" %}
  <input type="file" id="fileInput" accept=".json,.yaml,.yml,.txt">
{% endif %}

<div class="container" id="gameContainer">
    <div class="crossword-container">
        <div id="crosswordGrid"></div>
    </div>
    <span class="hints-panel">
		<div class="controls">
			<button class="btn" onclick="revealSolution()">Reveal Solution</button>
			<button class="btn" onclick="clearGrid()">Clear Grid</button>
		</div>

        <div class="hints-section">
			<b>Across</b>
			<hr>
            <div id="acrossHints"></div>
        </div>
        <div class="hints-section">
			<b>Down</b>
			<hr>
            <div id="downHints"></div>
        </div>
    </span>
</div>

<script src="/assets/js/crossword.js">
</script>
{% if page.permalink != "/crossword-gen/" %}
<script>
loadCrosswordData(JSON.parse('{{ site.data.crosswords[page.file] | jsonify }}'))
</script>
{% endif %}
