---
layout: posts
---

<div id="crossword-wrapper">
<div id="crossword-container">
<div id="crossword"></div>
  <p>
  <button id="revealBtn" class="reveal">Reveal</button>
  <button id="refreshBtn" class="reveal">Clear</button>
  </p>
</div>
<div class="clues">
  <div>
  <h4>Across</h4>
  <div id="acrossClues"></div>
  </div>
  <div>
  <h4>Down</h4>
  <div id="downClues"></div>
  </div>
</div>
</div>

<script src="/assets/js/crossword.js"></script>
{% assign file = "issue" | append: page.issue %}
<script>
handleFile({{ site.data.crosswords[file] | jsonify }});
</script>
