---
layout: default
---

<div class="hero-image-caption">
	<img class="hero-image" src="/assets/images/issue{{page.issue}}/digest/{{page.hero-image}}"/>
{% if page.hero-source %}
<a class="hero-caption" href="{{ page.hero-source }}">Source &nbsp;<span class="nf nf-oct-link"></span></a>
{% endif %}
</div>
<h1> Insight Digest | Issue #{{ page.issue }} </h1>
<strong>{{ site.digest-excerpt }} </strong>

{% assign id = "issue" | append: page.issue %}
{% for item in site.data.digest[id] %}
<div class="digest-item">
<h3 id="{{ item["Title"] | slugify }}">{{ item["Title"] }}</h3>
<span class="reference">{{ item["Reference"] }}</span>
<span class="author">Contributed by: {{ item["Author"] }}</span> 
<span class="affiliation">({{ item["Affiliation"] }})</span>
<span class="keywords">Keywords: {{ item["Keywords"] | join: ", " }}</span>
<p class="summary">{{ item["Summary"] | newline_to_br }}</p>
{% if item["Image"] %}
{% assign imagePath = item["Image"] %}
{% assign caption = item["Caption"] %}
{% include figure.html image=imagePath caption=caption width=600 suppressPrefix=true %}
{% endif %}
</div>
{% endfor %}
