<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ site.title }}</title>
	<meta name="description" content={{ site.description }}>

	<meta property="og:title" content={{ site.title }}>
	<meta property="og:type" content="website">
	<meta property="og:url" content={{ site.url }}>
	<meta property="og:description" content={{ site.description }}>

	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

	{% include css_imports.html %}
</head>

<body>

{% include navbar.html %}

<main>{{ content }}</main>

{% include foot.html %}
<script src="/assets/js/randomHighlight.js"></script>
</body>
</html>
