<!doctype html>

{% for pair in site.data.magazines %}
{% for issue in pair[1] %}
{% if issue.issue-number == page.issue %}
{% assign pdfLink = issue["download"] %}
{% assign thumbnail = "/assets/magazine-thumbnails/" | append: issue["thumbnail"] %}
{% endif %}
{% endfor %}
{% endfor %}

<html lang="en">
{% include head.html %}

<body>
{% include header.html %}
<main>
  <h1> Issue #{{ page.issue }} </h1>
  <img src={{ thumbnail }} width=500 />

  <div>{{page.month}}, {{ page.year}} &nbsp;&nbsp;&nbsp;<a class="button" href={{ pdfLink }}>Download PDF</a></div>
  <br>
  <br>

  <h2> Articles </h2>
  {% for article in site.categories["article"] %}
  {% if article.issue == page.issue %}
  <b>{{ article.title }}</b>
  <br>
  {{ article.authors | join: ", " }} <a class="button" href={{ article.url }}>Read article</a>
  <br>
  <br>
  {% endif %}
  {% endfor %}

  <h2> Interviews </h2>
  {% for article in site.categories["interview"] %}
  {% if article.issue == page.issue %}
  <b>{{ article.title }}</b>
  <br>
  {{ article.authors | join: ", " }} <a class="button" href={{ article.url }}>Read interview</a>
  <br>
  <br>
  {% endif %}
  {% endfor %}

  <h2> At The Frontiers </h2>
  {% assign filename = "Issue-" | append: page.issue %}
  <ul>
  {% for item in site.data["researchSummary"][filename] %}
  <li> {{ item["Title"] }} | <b>{{ item["Author"] }}</b> </li>
  {% endfor %}
  </ul>
  <a class="button" href="/research-summary-{{ page.issue }}/">View</a><br>

  <br>
  <h2> Science Games </h2>
  <ul>
	{% for article in site.categories["quiz"] %}
	  {% if article.issue == page.issue %}
	  <li> General Science Quiz  <a class="button" href="{{ article.url }}">Try Out</a></li>
	  {% endif %}
    {% endfor %}
	{% for article in site.categories["crossword"] %}
	  {% if article.issue == page.issue %}
	  <li> {{ article.title }}  <a class="button" href="{{ article.url }}">Try Out</a></li>
	  {% endif %}
    {% endfor %}
	{% for article in site.categories["linkedlist"] %}
	  {% if article.issue == page.issue %}
	  <li> Linked List  <a class="button" href="{{ article.url }}">Try Out</a></li>
	  {% endif %}
    {% endfor %}
  </ul>
</main>
{% include footer.html %}
</body>
</html>

