<!doctype html>

{% for pair in site.data.magazines %}
{% for issue in pair[1] %}
{% if issue.issue-number == page.issue %}
{% assign pdfLink = issue["download"] %}
{% endif %}
{% endfor %}
{% endfor %}

<html lang="en">
{% include head.html %}

<body>
{% include header.html %}
<main>
  <h1> Issue #{{ page.issue }} </h1>

  {{page.month}}, {{ page.year}} &nbsp;&nbsp;&nbsp;<a href={{ pdfLink }}>Download PDF</a>
  <br>
  <br>

  <h3> Articles </h3>
  {% for article in site.categories["article"] %}
  {% if article.issue == page.issue %}
  <b>{{ article.title }}</b>
  <br>
  <span class="nf">󰙏</span>&nbsp;&nbsp;&nbsp;{{ article.authors | join: ", " }} | <a href={{ article.url }}>Read article</a>
  <br>
  <br>
  {% endif %}
  {% endfor %}

  <h3> Interviews </h3>
  {% for article in site.categories["interview"] %}
  {% if article.issue == page.issue %}
  <b>{{ article.title }}</b>
  <br>
  <span class="nf">󰙏</span>&nbsp;&nbsp;&nbsp;{{ article.authors | join: ", " }} | <a href={{ article.url }}>Read interview</a>
  <br>
  <br>
  {% endif %}
  {% endfor %}

  <h3> At The Frontiers </h3>
  {% assign filename = "Issue-" | append: page.issue %}
  <ul>
  {% for item in site.data["researchSummary"][filename] %}
  <li> {{ item["Title"] }} | <b>{{ item["Author"] }}</b> </li>
  {% endfor %}
  </ul>
  <a href="/research-summary-{{ page.issue }}/">Read in Full</a><br>
</main>
{% include footer.html %}
</body>
</html>

