---
layout: posts
---

Linked List is a general science-based word game. The rules are straightforward.
<ol>
	<li>The goal is to guess eleven words that have been drawn from science.</li>
	<li>The first word (the seed) will be provided to you, and hints and number of letters will be provided for the remaining words.</li>
	<li>You are also informed that the first letter of any word is the last letter of the previous word. So the first letter of the second word will</li>
	<li>the last letter of the seed word, the first letter of the third word is the last letter of the second word, and so on.</li>
	<li>This property goes all the way, so that the last letter of the last (eleventh) word is also the first letter of the seed word.</li>
</ol>

As always, the cover image is a clue to the first word. Find all the words!

<p><strong>Seed Word:</strong> <span id="seed-word">{{ page.seed }}</span></p>
<form id="ll-form"></form>
<button onclick='checkAnswers({{ site.data.linkedlists[page.file] | jsonify }}, "{{ page.seed }}")' class="reveal">Check Answers</button>
<div id="result"></div>
<script src="/assets/js/linkedlist.js"></script>
{% assign file = "issue" | append: page.issue %}
<script>
build({{ site.data.linkedlists[file] | jsonify }}, "{{ page.seed }}")
</script>
