---
layout: default
---

{% if page.hero-image %}
  <div class="hero-image-caption">
	{% if page.hero-image contains "/assets/" %}
	  <img class="hero-image" src="{{ page.hero-image }}"/>
	{% else %}
	  <img class="hero-image" src="/assets/images{{page.permalink}}{{ page.hero-image }}"/>
	{% endif %}
  {% if page.hero-source %}
    <a class="hero-caption" href="{{ page.hero-source }}">Source &nbsp;<span class="nf nf-oct-link"></span></a>
  {% endif %}
  </div>
{% endif %}
<h1> {{ page.title }} </h1>
{% if page.authors %}
<div class="author">{{ page.authors | join: ", " }}</div>
{% endif %}
{% if page.author-affiliation %}
<div class="affiliation">{{ page.author-affiliation | join: ", " }}</div>
{% endif %}
{% if page.date %}
<div class="date">Published: {{ page.date | date:"%b %d, %Y"}}</div>
{% endif %}
{%- if page.reviewedBy %}
<div class="reviewed">Reviewed By: {{ page.reviewedBy }}</div>
{%- endif -%}

{% if page.excerpt %}
<div class="excerpt">
{{ page.excerpt | markdownify }}
</div>
{% endif %}
<hr>
{{ content }}

{% if page.author-bio %}
<hr>
  <div class="author-bio">
	{% if page.author-bio %}
	{% if page.author-image %}
	<img src={{ "/assets/images" | append: page.permalink | append: "author-image" }}/>
	{% endif %}
	{% endif %}
    {{ page.author-bio | markdownify }}
  </div>
{% endif %}
<br>
{% if page.addendum %}
  <div class="author-bio">{{ page.addendum | markdownify }}</div>
{% endif %}
<br>

{% if page.refs-file %}
<h3>References</h3>
<div class="references">
<ol>
{% assign counter = 1 %}
{% for line in site.data.references[page.refs-file] %}
<li id="ref-{{ counter }}">{{ line }}</li>
{% assign counter = counter | plus: 1 %}
{% endfor %}
</ol>
</div>
{% endif %}
