---
layout: default
---

<div class="hero-image-caption">
<img class="hero-image" src="/assets/hero-images/{{ page.hero-image }}"/>
{% if page.hero-source %}
  <a class="hero-caption" href="{{ page.hero-source }}">Source &nbsp;<span class="nf nf-oct-link"></span></a>
{% endif %}
</div>
<h1> {{ page.title }} </h1>
<div class="author-date">
  <b>{{ page.authors | join: ", " }}</b><br>
  {{ page.author-affiliation | join: ", " }}<br>
  Published: {{ page.date | date:"%b %d, %Y"}}<br>
  {%- if page.reviewedBy %}
  Reviewed By: {{ page.reviewedBy }}
  {%- endif -%}
</div>

<div class="excerpt">
{{ page.excerpt | markdownify }}
</div>

<hr>

{{ content }}

<hr>

{% if page.author-bio %}
  <div class="author-bio">
	{% if page.author-bio %}
	{% if page.authorImage %}
	<img src="/assets/authorFaces/{{ page.authorImage }}"/>
	{% endif %}
	{% endif %}
    {{ page.author-bio | markdownify }}
  </div>
{% endif %}
<br>
{% if page.addendum %}
  <div class="author-bio">{{ page.addendum | markdownify }}</div>
{% endif %}
<br>

{% if page.refs-file %}
<h3>References</h3>
<div class="references">
<ol>
{% assign counter = 1 %}
{% for line in site.data.references[page.refs-file] %}
<li id="ref-{{ counter }}">{{ line }}</li>
{% assign counter = counter | plus: 1 %}
{% endfor %}
</ol>
</div>
{% endif %}
