---
layout: pages
---

{% assign path = site.data.quizzes[page.quizId] %}
{% assign questions = path["questions"] %}
{% assign images = path["images"] %}
{% assign options = path["options"] %}
{% assign answers = path["answers"] %}
<ol>
{% for question in questions %}
{% assign outerIndex = forloop.index0 %}
<form class="quiz" id="form-{{ outerIndex }}">
<li>{{ question | markdownify }}</li>
{% if images[outerIndex] %}
<img class="quiz-image" src="{{ page.permalink | append: images[outerIndex] | prepend: '/assets/images' | relative_url }}">
{% endif %}
{% for option in options[outerIndex] %}
{% assign buttonId = outerIndex | append: "-" | append: forloop.index %}
<div>
<input type="radio" name="{{ outerIndex }}" id="{{ buttonId }}" value="{{ buttonId }}" />
<label for="{{ buttonId }}" id="l-{{ buttonId }}">{{ option }}</label>
</div>
{% endfor %}
{% assign correctAnswerId = outerIndex | append: "-" | append: answers[outerIndex] %}
<button type="button" value="{{ correctAnswerId }}" class="reveal">Reveal</button>
</form>
<br>
{% endfor %}
</ol>
<script src="{{ site.baseurl }}{% link assets/js/quizzes.js %}"> </script>
