@font-face {
    font-family: 'Symbols Nerd Font Mono';
    src: url('SymbolsNFM.woff2') format('woff2'),
        url('SymbolsNFM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Symbols Nerd Font';
    src: url('SymbolsNF.woff2') format('woff2'),
        url('SymbolsNF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

