@font-face {
    font-family: 'Lilex Nerd Font';
    src: url('LilexNF-Bold.woff2') format('woff2'),
        url('LilexNF-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lilex Nerd Font';
    src: url('LilexNF-Regular.woff2') format('woff2'),
        url('LilexNF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
